<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<fieldset>
<legend>USER LOGIN :</legend>
		<form action="validate" method ="post" >
			<label>Email :</label>
			<input type="text" name="email"/>
			<br>
			<label>Password :</label>
			<input type="password" name="password"/>
			<br>
			
			<input type="submit" value="LOGIN"/>
	</form>
	</fieldset>

</body>
</html>